/* header */
header{
  text-align: center;
  background-color: #3b5998;
  color: white;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1{
  font-weight: bold;
  font-size: 64px;
  font-family: "Comic Sans MS";
}
/* main */
.main_area{
  /* text-align: center; */
  width: 100%;
  font-size: 40px;
}

/* input_area */
.input_area{
  margin-top: 16px;
}
textarea, input {
  vertical-align: top;
}
.input_area  input{
  height: 48px;
  width: 40%;
  font-size: 32px;
}
.input_area textarea{
  width: 56%;
}
.input_name{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.input_name h2{
  width: 40%;
  font-size: 40px;
  font-weight: bold;
  padding-left: 16px;
}
.input_txt{
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.input_txt textarea{
  height: 80px;
  font-size: 32px;

}
.input_txt h2{
  width: 40%;
  font-size: 40px;
  font-weight: bold;
  padding-left: 16px;
}
.input_btn{
  width: 100%;
  text-align: center;
}
.input_btn button{
  height: 72px;
  width: 136px;
  border-radius: 20px;
  font-size: 40px;
  color: white;
  background-color: #3b5998;
}

/* output_area */

.output_area{
  margin-top: 8px;
  background-color: rgba(192,192,192, 0.5);
}
.output_area h1{
  font-size: 40px;
  padding-top: 32px;
  padding-bottom: 8px;
  padding-left: 32px;
}
.output_area p{
  font-size: 32px;
  padding-top: 16px;
  padding-left: 96px;
  padding-bottom: 8px;
}

.item{
  display: flex;
  justify-content: flex-start;
}
.item_name{
  width: 450px;
}
.item_text{
  display: flex;
  justify-content: flex-start;
}

.marker1 {
  background: linear-gradient(transparent 50%, #ffce5b 50%);
}
.marker2 {
  background: linear-gradient(transparent 80%, #1e90ff 50%);
}





/* 監視用変数 非表示 */
